@import "tailwindcss";

@theme {
  --color-brand-lightRed: #fb7a7a;
  --color-brand-darkRed: #742a2a;
  --color-brand-black: #000000;
  --color-brand-whiteRose: #f7f1f1;
  --color-brand-gradientStart: #ff5555;
  --color-brand-gradientEnd: #6a0019;

  --font-heading: "Playfair Display", serif;
  --font-body: "Open Sans", sans-serif;
}

body {
  background-color: #f7f1f1;
  color: #742a2a;
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", serif;
}